<%- include("partials/header"); -%>
    <h1>Team 024 Info</h1>
    <ul>
      <li>Jiacheng Chen, jchen857</li>
      <li>Jianxiao Hu, jhu369</li>
      <li>Tong Wu, twu76</li>
      <li>Yuxi Shan, yshan34</li>
    </ul>
<%- include("partials/footer"); -%>
